DROP PROCEDURE [USP_REP_STK_LST_BATCH]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 16/05/2007
-- Description:	This is useful for Itemwise Batchwise Stock List.
-- Modify date: 25/02/2008
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================
CREATE PROCEDURE [USP_REP_STK_LST_BATCH]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

SET QUOTED_IDENTIFIER OFF
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=NULL
,@VFCON =@FCON OUTPUT


DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(4000)

SELECT  STKL_VW_ITEM.ENTRY_TY,BEH='  ',STKL_VW_ITEM.DATE,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT,STKL_VW_ITEM.BATCHNO,STKL_VW_ITEM.MFGDT,STKL_VW_ITEM.EXPDT 
INTO #TITEM FROM STKL_VW_ITEM 
INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD )
INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)
INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.AC_ID)
INNER JOIN LCODE  ON (STKL_VW_ITEM.ENTRY_TY=LCODE.ENTRY_TY)
WHERE 1=2

SET @SQLCOMMAND='INSERT INTO  #TITEM SELECT  STKL_VW_ITEM.ENTRY_TY,BEH=(CASE WHEN LCODE.EXT_VOU=1 THEN LCODE.BCODE_NM ELSE LCODE.ENTRY_TY END),STKL_VW_ITEM.DATE,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT,STKL_VW_ITEM.BATCHNO,STKL_VW_ITEM.MFGDT,STKL_VW_ITEM.EXPDT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  FROM STKL_VW_ITEM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD AND STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN LCODE  ON (STKL_VW_ITEM.ENTRY_TY=LCODE.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND STKL_VW_ITEM.BATCHNO<>'+CHAR(39)+SPACE(1)+CHAR(39)+' AND STKL_VW_ITEM.DC_NO=SPACE(1)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' AND IT_MAST.[TYPE] LIKE '+CHAR(39)+'%FINISHED%'+CHAR(39)+' AND STKL_VW_ITEM.ENTRY_TY NOT IN('+CHAR(39)+'ST'+CHAR(39)+','+CHAR(39)+'DC'+CHAR(39)+') '
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SET @SQLCOMMAND='INSERT INTO  #TITEM SELECT  STKL_VW_ITEM.ENTRY_TY,BEH=(CASE WHEN LCODE.EXT_VOU=1 THEN LCODE.BCODE_NM ELSE LCODE.ENTRY_TY END),STKL_VW_ITEM.DATE,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT,PROJECTITREF.BATCHNO,PROJECTITREF.MFGDT,PROJECTITREF.EXPDT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  FROM PROJECTITREF '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STKL_VW_ITEM  ON (STKL_VW_ITEM.TRAN_CD=PROJECTITREF.TRAN_CD AND STKL_VW_ITEM.ENTRY_TY=PROJECTITREF.ENTRY_TY AND STKL_VW_ITEM.ITSERIAL=PROJECTITREF.ITSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD AND STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN LCODE  ON (STKL_VW_ITEM.ENTRY_TY=LCODE.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND PROJECTITREF.BATCHNO<>'+CHAR(39)+SPACE(1)+CHAR(39)+' AND STKL_VW_ITEM.DC_NO=SPACE(1)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' AND IT_MAST.[TYPE] LIKE '+CHAR(39)+'%FINISHED%'+CHAR(39)+' AND PROJECTITREF.ENTRY_TY IN('+CHAR(39)+'ST'+CHAR(39)+','+CHAR(39)+'DC'+CHAR(39)+') '

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND


SELECT DESCRIPTION=A.IT_NAME,A.RATEUNIT,A.BATCHNO,A.MFGDT,A.EXPDT
,OPBAL =SUM(CASE WHEN (A.BEH ='OS' OR A.DATE<@SDATE) THEN (CASE WHEN A.PMKEY='+' THEN A.QTY ELSE -A.QTY END) ELSE 0 END)
,RQTY_PT =SUM(CASE WHEN A.BEH ='PT' AND A.PMKEY='+' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END)
,RQTY_OP=SUM(CASE WHEN A.BEH ='OP' AND A.PMKEY='+' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END)
,RQTY_IR=SUM(CASE WHEN A.BEH ='IR' AND A.PMKEY='+' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END)
,RQTY_SR=SUM(CASE WHEN A.BEH ='SR' AND A.PMKEY='+' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END)
,RQTY_AR=SUM(CASE WHEN A.BEH ='AR' AND A.PMKEY='+' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END)
,RQTY_OT=SUM(CASE WHEN A.BEH NOT IN ('OS','PT','OP','IR','SR','AR') AND A.PMKEY='+' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END)
,IQTY_ST =SUM(CASE WHEN A.BEH ='ST' AND A.PMKEY='-' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END)
,IQTY_IP   =SUM(CASE WHEN A.BEH ='IP' AND A.PMKEY='-' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END)
,IQTY_II    =SUM(CASE WHEN A.BEH ='II' AND A.PMKEY='-' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END)
,IQTY_PR =SUM(CASE WHEN A.BEH ='PR' AND A.PMKEY='-' AND A.DATE>=@SDATE  THEN A.QTY ELSE 0 END)
,IQTY_OT=SUM(CASE WHEN A.BEH NOT IN ('ST','IP','II','PR') AND A.PMKEY='-' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END)
,CLBAL =SUM(CASE WHEN  A.PMKEY='+' THEN A.QTY ELSE -A.QTY END)
FROM #TITEM A
GROUP BY A.IT_NAME,A.RATEUNIT,A.BATCHNO,A.MFGDT,A.EXPDT
ORDER BY A.IT_NAME,A.RATEUNIT,A.BATCHNO

IF @EXPARA='NillBal=NO'
BEGIN
	DELETE FROM #TITEM WHERE CLBAL=0
END

DROP TABLE #TITEM
GO
