IF EXISTS(SELECT * FROM SYSOBJECTS WHERE XTYPE='P' AND [NAME] = 'USP_REP_STK_LST_MUOM')
BEGIN
 DROP PROCEDURE USP_REP_STK_LST_MUOM
END
GO

CREATE PROCEDURE [dbo].[USP_REP_STK_LST_MUOM]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(1000)
,@SFLDNM VARCHAR(10)
AS
SET QUOTED_IDENTIFIER OFF
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='MVW',@VITFILE='IVW',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=NULL
,@VFCON =@FCON OUTPUT


DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(4000)

SELECT  STKL_VW_ITEM.ENTRY_TY,BEH='  ',STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT 
INTO #TITEM FROM STKL_VW_ITEM 
INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD )
INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)
INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.AC_ID)
INNER JOIN LCODE  ON (STKL_VW_ITEM.ENTRY_TY=LCODE.ENTRY_TY)
WHERE 1=2

declare @RuleCondition varchar(1000)
set @RuleCondition=''
if charindex('$>Rule',@expara)<>0
begin
	set @RuleCondition=@expara
	SET @RuleCondition=REPLACE(@RuleCondition, '`','''')
	set @RuleCondition=substring(@RuleCondition,charindex('$>Rule',@RuleCondition)+6,len(@RuleCondition)-(charindex('$>Rule',@RuleCondition)+5))
	set @RuleCondition=substring(@RuleCondition,1,charindex('<$Rule',@RuleCondition)-1)
end

SET @SQLCOMMAND='INSERT INTO  #TITEM SELECT  IVW.ENTRY_TY,BEH=(CASE WHEN LCODE.EXT_VOU=1 THEN LCODE.BCODE_NM ELSE LCODE.ENTRY_TY END),IVW.DATE,IVW.DOC_NO,IVW.AC_ID,IVW.IT_CODE,IVW.QTY,IVW.U_LQTY,IVW.ITSERIAL,IVW.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  FROM STKL_VW_ITEM IVW'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STKL_VW_MAIN MVW ON (IVW.TRAN_CD=MVW.TRAN_CD AND IVW.ENTRY_TY=MVW.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=IVW.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=MVW.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN LCODE  ON (IVW.ENTRY_TY=LCODE.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND MVW.APGEN='+CHAR(39)+'YES'+CHAR(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND IVW.DC_NO='+CHAR(39)+' '+CHAR(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+@RuleCondition 

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

Select DESCRIPTION = IT_NAME,RATEUNIT,OPBAL = QTY,RQTY_PT = QTY,RQTY_OP = QTY,RQTY_IR = QTY,RQTY_SR = QTY,RQTY_AR = QTY,RQTY_OT = QTY,IQTY_ST = QTY,IQTY_DC = QTY,IQTY_IP = QTY,IQTY_II = QTY,IQTY_PR = QTY,IQTY_OT = QTY,CLBAL = QTY into #TITEM2 from #TITEM where 1=2 

SET @SQLCOMMAND='Insert into #TITEM2 SELECT DESCRIPTION=A.'+@SFLDNM+',A.RATEUNIT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',OPBAL =SUM(CASE WHEN (A.BEH ='+'''OS'''+' OR A.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN (CASE WHEN A.PMKEY='+'''+'''+' THEN A.QTY ELSE -A.QTY END) ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_PT = SUM(CASE WHEN A.BEH ='+'''PT'''+' AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_OP = SUM(CASE WHEN A.BEH ='+'''OP'''+' AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_IR = SUM(CASE WHEN A.BEH ='+'''IR'''+' AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_SR = SUM(CASE WHEN A.BEH ='+'''SR'''+' AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_AR=SUM(CASE WHEN A.BEH ='+'''AR'''+' AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_OT=SUM(CASE WHEN A.BEH NOT IN ('+'''OS'''+','+'''PT'''+','+'''OP'''+','+'''IR'''+','+'''SR'''+','+'''AR'''+') AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_ST  =SUM(CASE WHEN A.BEH ='+'''ST'''+' AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39) +'THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_DC  =SUM(CASE WHEN A.BEH ='+'''DC'''+' AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)' 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_IP  =SUM(CASE WHEN A.BEH ='+'''IP'''+' AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_II  =SUM(CASE WHEN A.BEH ='+'''II'''+' AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_PR  =SUM(CASE WHEN A.BEH ='+'''PR'''+' AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_OT  =SUM(CASE WHEN A.BEH NOT IN ('+'''ST'''+','+'''IP'''+','+'''II'''+','+'''PR'''+','+'''DC'''+') AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)' 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',CLBAL    =SUM(CASE WHEN  A.PMKEY='+'''+'''+' THEN A.QTY ELSE -A.QTY END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM #TITEM A'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' GROUP BY A.'+@SFLDNM+',A.RATEUNIT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ORDER BY A.'+@SFLDNM+',A.RATEUNIT'

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

IF  CHARINDEX('ANS=NO', @EXPARA)<>0 
BEGIN
	print @EXPARA
	delete from #TITEM2 where clbal=0
END

--Select * from #TITEM2

Select distinct Description=im.it_name,gpunit,gu.ConvRatio  into #gpuni1 from STKL_VW_ITEM i inner join it_mast im on (i.It_Code=im.It_Code) 
left join GroupUOM gu on (gu.subuom =i.gpunit)
where im.It_Name in (Select it_name from #TITEM2)

--Select Description+gpunit from #TITEM2
Delete from #gpuni1 where Description+gpunit in (Select Description+RateUnit from #TITEM2)

--Select * From #gpuni1 
SELECT *
INTO #Temp
FROM
(
Select i.Description,RATEUNIT,OPBAL = OPBAL,RQTY_PT=RQTY_PT,RQTY_OP=RQTY_OP,RQTY_IR=RQTY_IR,RQTY_SR=RQTY_SR,RQTY_AR=RQTY_AR,RQTY_OT=RQTY_OT,IQTY_ST=IQTY_ST,IQTY_DC=IQTY_DC,IQTY_IP=IQTY_IP,IQTY_II=IQTY_II,IQTY_PR=IQTY_PR,IQTY_OT=IQTY_OT,CLBAL=CLBAL 
From #TITEM2 i
union 
Select i.Description,gpunit,OPBAL = OPBAL/gu.ConvRatio,RQTY_PT=RQTY_PT/gu.ConvRatio,RQTY_OP=RQTY_OP/gu.ConvRatio,RQTY_IR=RQTY_IR/gu.ConvRatio,RQTY_SR=RQTY_SR/gu.ConvRatio,RQTY_AR=RQTY_AR/gu.ConvRatio,RQTY_OT=RQTY_OT/gu.ConvRatio,IQTY_ST=IQTY_ST/gu.ConvRatio,IQTY_DC=IQTY_DC/gu.ConvRatio,IQTY_IP=IQTY_IP/gu.ConvRatio,IQTY_II=IQTY_II/gu.ConvRatio,IQTY_PR=IQTY_PR/gu.ConvRatio,IQTY_OT=IQTY_OT/gu.ConvRatio,CLBAL=CLBAL/gu.ConvRatio 
From #TITEM2 i inner join #gpuni1 gu on (i.Description=gu.Description)
) as x
select * from #Temp where RATEUNIT<>'' Order by Description,RATEUNIT


DROP TABLE #TITEM
DROP TABLE #TITEM2
DROP TABLE #Temp







